﻿
<div class="jumbotron">
    <h1>Employees</h1>
    <p class="lead">Please enter the employee id...</p>

    <div class="form-inline" style="padding-bottom:2em">
        <div class="form-group mx-sm-3 mb-2">
            <label for="txtidemployee" class="sr-only">Id Employee</label>
            <input type="text" class="form-control" id="txtidemployee" placeholder="Id Employee...">
        </div>
        <button type="submit" id="btnsearch" style="width:100px" class="btn btn-primary mb-2">Search</button>
    </div>
</div>


<div class="row" style="min-height:300px">
    <div class="demo-container">
        <div id="gridContainer"></div>
    </div>

</div>

<script>

    $(function () {

        //Craete Grid
        $("#gridContainer").dxDataGrid({
            dataSource: null,
            columns: [
                {
                    dataField: "id",
                    caption: "Id Client"
                },
                {
                    dataField: "name",
                    caption: "Name"
                },
                {
                    dataField: "roleId",
                    caption: "Id Rol"
                },
                {
                    dataField: "roleName",
                    caption: "Role Name"
                },
                {
                    dataField: "roleDescription",
                    caption: "Role Description"
                },
                {
                    dataField: "contractTypeName",
                    caption: "Contract Type"
                },
                {
                    dataField: "hourlySalary",
                    caption: "Hourly Salary",
                    dataType: "number",
                    format: "currency",
                    alignment: "right",
                },
                {
                    dataField: "monthlySalary",
                    caption: "Monthly Salary",
                    dataType: "number",
                    format: "currency",
                    alignment: "right",
                },
                {
                    dataField: "annualSalaries",
                    caption: "Annual Salaries",
                    dataType: "number",
                    format: "currency",
                    alignment: "right",
                }],
            showBorders: true,
            rowAlternationEnabled: true,
            paging: {
                pageSize: 10
            },
        });

        //Event button Search Client
        $("#btnsearch").click(() => {
            var txtidemployee = $("#txtidemployee").val();

            if (txtidemployee === undefined || txtidemployee === "")
                getallemployees();
            else
                getemployeebyid(txtidemployee)
        })


        function getallemployees() {

            $.ajax("http://localhost:57085/api/Employees")
                .done(function (data) {
                    
                    $("#gridContainer").dxDataGrid({
                        dataSource: data                       
                    });
                })
                .fail(function () {
                    alert("error");
                })
                .always(function () {
                    //alert("complete");
                });
        }

        function getemployeebyid(id) {

            var wurlfinal = "http://localhost:57085/api/Employees/" + id;

            $.ajax(wurlfinal)
                .done(function (data) {

                    var warraydata = Array();
                    warraydata.push(data);

                    $("#gridContainer").dxDataGrid({
                        dataSource: warraydata
                    });
                })
                .fail(function () {
                    alert("error");
                })
                .always(function () {
                    //alert("complete");
                });
        }

    });
</script>
